:root{
  --text-color: rgb(119, 24, 156);
  --background-color: rgb(238, 215, 241);
  --border-color: rgb(250, 158, 242);
  --text-high-light-color: rgb(53, 182, 13);
  --link-color: rgb(66, 12, 190);
  --big-text-font-size: 2.5rem;
  --normal-text-font-size: 1.1rem;
}

html{
  /* background-color: black; */
  overscroll-behavior: none;
}


body {
  background-image: url("../assets/Star_BG.gif");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--text-color);
  font-family: 'Times New Roman', Times, serif;
}

main{
  background-color: var(--background-color);
  width: 50vw;
  min-height: 80vh;
  outline: 4px var(--border-color) dotted;
  border-radius: 8px;
  /* border: 4px var(--border-color) dotted; */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-wrap: pretty;
  margin: 24px 0;
}

main > h1{
  text-shadow: 0 0 3px currentColor;
  font-size: var(--big-text-font-size);
}

.text{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.text > h2{
  text-shadow: 0 0 3px currentColor;
  margin-bottom: 0.3rem;
  color: var(--text-high-light-color);
}

.text > p{
  margin-top: 0.7rem;
  text-indent: 2rem;
  font-size: var(--normal-text-font-size);
}

.text a {
  text-shadow: 0 0 4px currentColor;
  color: var(--link-color);
}

.text .quote{
  font-style: italic;
}

.big-emote {
  width: var(--big-text-font-size);
}

.normal-emote{
  width: var(--normal-text-font-size);
}

#stop{
  position: fixed;
  bottom: 5px;
  left: 5px;
}

#banner{
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner > img{
  max-width: 40%;
}

@media only screen and (max-width: 1024px) {
  main{
    width: 70vw;
  }

  #banner > img{
    max-width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  main{
    width: 90vw;
  }
}