:root{
  --white: white;
  --green: rgb(125, 221, 96);
  --purple: rgb(223, 83, 199);
  --big-text-font-size: 2.5rem;
  --normal-text-font-size: 1.1rem;
}

body {
  background-image: url("../assets/Star_BG.gif");
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--white);
  font-family: 'Times New Roman', Times, serif;
}

main{
  background-color: black;
  width: 50vw;
  min-height: 80vh;
  border: 2px var(--white) dotted;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-wrap: pretty;
  margin: 24px 0;
}

main > h1{
  text-shadow: 0 0 3px currentColor;
  font-size: var(--big-text-font-size);
}

.text{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.text > h2{
  text-shadow: 0 0 4px currentColor;
  margin-bottom: 0.3rem;
  color: var(--green);
}

.text > p{
  margin-top: 0.7rem;
  text-indent: 2rem;
  font-size: var(--normal-text-font-size);
}

.text a {
  text-shadow: 0 0 4px currentColor;
  color: var(--purple);
}

.text .quote{
  font-style: italic;
}

.big-emote {
  width: var(--big-text-font-size);
}

.normal-emote{
  width: var(--normal-text-font-size);
}

#stop{
  position: fixed;
  bottom: 5px;
  left: 5px;
}

@media only screen and (max-width: 1024px) {
  main{
    width: 70vw;
  }
}