@font-face{font-family:'lt binary neue';font-style:normal;font-weight:400;src:local('LT Binary Neue'), url(../assets/LTBinaryNeue.woff) }

:root{
    --body-color:#141312;
    --header-footer-color:#1c1c1c;
    --h2-color:#8efc5f;
    --span-color:#f1f1f1;
    --link-color:#b168b8;
    --commnet-color:#b1b1b1;
    --comment-link-color:#903c96;
}

body{
    background-color: var(--body-color);
    font-family: 'LT Binary Neue', "Nunito";
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 100vh;
    gap: 30px;
}
header{
    font-family: 'Nunito';
    background-color: var(--header-footer-color);
    height: 6rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    max-width: 1000px;
    min-width: min-content;
    display: flex;
    flex-direction: column;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info > span{
    color: var(--span-color);
    margin: 0 60px;
    flex-wrap: wrap;
}
.info > span::before{
    content: '#> ';
}
.comment{
    color: var(--commnet-color);
}
.comment::before{
    content: '//';
}
.comment>a{
    color: var(--comment-link-color);
}
a{
    color: var(--link-color);
    text-shadow: 0 0 10px var(--comment-link-color);
}
main>h2{
    color: var(--h2-color);
    margin-left: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 0 0 3px var(--h2-color);
}
main>h2::after{
    content: ':';
}
footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.cat-spin{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 150px;
}
footer:hover .stick-man{
    display: inline;
}
.stick-man{
    display: none;
    position: absolute;
}
#stick-man-0{
    left: 40%;
    top: 20%;
    width: 100px;
}
#stick-man-1{
    left:55%;
    width: 70px;
}
@media only screen and (max-width:425px){
    main, .info{
        align-items: center;
        text-align: center;
    }
    .info>span::before{
        content: '';
    }
}

@media only screen  and (max-width:1024px) {
    main>h2{
        margin-left:15px;
    }
    .info>span{
        margin-left: 75px;
    }
    footer:hover #stick-man-0{
        display: none;
    }
}